/* src/components/HamburgerMenu.css */

.hamburger-menu {
    position: absolute;
    top: 0;
    right: 40px; /* Asegura que se posicione al lado derecho */
    z-index: 10; /* Asegura que el menú esté encima de otros elementos */
  }
  
  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .menu-toggle .line {
    width: 30px;
    height: 3px;
    background-color: black;
    transition: transform 0.3s ease;
  }
  
  .menu {
    position: absolute;
    width: 200px;
    background-color: white;
    top: 35px; /* Controla la distancia desde el borde superior */
    right: 0; /* Se asegura de que el menú se alinee a la derecha */
    display: none; /* Oculto por defecto */
    flex-direction: column;
    gap: 15px; /* Espaciado entre los elementos del menú */
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .menu.open {
    display: flex; /* Muestra el menú cuando se abre */
  }
  
  .menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column; /* Cambia a columna */
    gap: 15px; /* Separación entre los elementos */
  }
  
  .menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .menu ul li a:hover {
    color: #EA6947;
  }
  
  /* Media queries para dispositivos móviles */
  @media (max-width: 950px) {
    .menu-toggle {
      display: flex; /* Mostrar las tres líneas en dispositivos pequeños */
    }
  
    .menu {
      display: none; /* Ocultar el menú por defecto en pantallas pequeñas */
    }
  
    .menu.open {
      display: flex; /* Mostrar el menú cuando esté abierto */
    }
  
    .menu-toggle .line.open {
      transform: rotate(45deg);
    }
  
    .menu-toggle .line:nth-child(2).open {
      opacity: 0; /* Eliminar la línea del medio */
    }
  
    .menu-toggle .line:nth-child(3).open {
      transform: rotate(-45deg);
    }
  }
  